$primary-1: #5b5f61;
$primary-2: #4f5254;
$primary-3: #434647;
$primary-4: #30363b;
$primary-5: #1e272e;
$primary-6: #101820;
$primary-7: #000000;
$primary: primary-6;

$primary-1: #e6fbff;
$primary-2: #a2eafc;
$primary-3: #73d3f0;
$primary-4: #49bae3;
$primary-5: #22a0d6;
$primary-6: #0085ca;
$primary-7: #0067a3;
$primary-8: #004b7d;
$primary-9: #003157;
$primary-10: #001a30;
$secondary: secondary-6;

// html,
// body {
//   padding: 0;
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
//     Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
// }

// a {
//   color: inherit;
//   text-decoration: none;
// }

// * {
//   box-sizing: border-box;
// }
